<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Public Form</title>
    <link rel="stylesheet" href="./css/bootstrap.min.css" />
    <link rel="stylesheet" href="./css/styles.css" />
  </head>
  <body>
    <div class="container d-flex justify-content-center">
      <div class="wrapper-container col-6">
        <span class="text-center fs-2"><p>Public Form</p></span>
        <hr />
        <form method="post" action="/publicform" novalidate>
            
            
          <div class="mb-3">
            <label for="quantity" class="form-label"
              ><b>Count of Food Seekers identified</b></label
            >
            <input
              type="number"
              class="form-control"
              id="quantity"
              name="quantity"
              placeholder="3"
              required
            />
          </div>
          <label for="latitude" class="form-label"
            ><b>Tap to Get the Current Location</b></label
          ><br />
          <div class="display-none">
            <div class="mb-3">
              <label for="latitude" class="form-label">Latitude</label>
              <input
                type="number"
                class="form-control"
                name="latitude"
                id="latitude"
                placeholder="32.3232"
                required
              />
            </div>
            <div class="mb-3">
              <label for="longitude" class="form-label">Longitude</label>
              <input
                type="number"
                class="form-control"
                name="longitude"
                id="longitude"
                placeholder="12.3232"
                required
              />
            </div>
          </div>
          <button
            type="button"
            class="btn btn-info margin-bottom"
            onclick="getLocation()"
          >
            Get Location</button
          ><br />
          <div class="mb-3">
            <label for="landmark" class="form-label"><b>Landmark</b></label>
            <input
              class="form-control"
              id="landmark"
              name="landmark"
              oninput="removeInvalidSuggestion()"
              placeholder="Near MANIT"
              required
            ></input>
            <div class="feedback-msg-suggestion" id="msg-suggestion">
              <small>Enter a valid Landmark</small>
            </div>
        </div>
        <label class="m-1"><b>Are the food needer informed?</b></label
            ><br />
            <div class="form-check">
              <input
                class="form-check-input"
                type="radio"
                name="informed"
                value="Yes"
                id="Yes"
              />
              <label class="form-check-label" for="Yes"> Yes </label>
            </div>
            <div class="form-check">
              <input
                class="form-check-input"
                type="radio"
                name="informed"
                value="No"
                id="No"
              />
              <label class="form-check-label" for="No"> No </label>
            </div>
            <div class="mb-3">
                <label for="number" class="form-label"><b>Phone Number (Optional)</b></label>
                <input
                  type="tel"
                  class="form-control"
                  id="number"
                  name="phone"
                  oninput="removeInvalidNumber()"
                  placeholder="10 digit Number"
                  required
                />
                <div class="feedback-msg-n" id="msg-n">
                  <small>Enter a valid number (Format: 'XXXXXXXXXX')</small>
                </div>
              </div>
          <div class="btn-grp margin-top margin-bottom">
            <button type="submit" class="btn btn-primary submit-btn">
              Submit
            </button>
            <button type="reset" class="btn btn-outline-primary clear-btn">
              Clear Form
            </button>
          </div>
        </form>
        <a href="/">Go back to Dashboard</a>
      </div>
    </div>
    <script>
      var x = document.getElementById("demo");
      var longitude = document.getElementById("longitude");
      var latitude = document.getElementById("longitude");
      function getLocation() {
        if (navigator.geolocation) {
          navigator.geolocation.getCurrentPosition(showPosition);
        } else {
          x.innerHTML = "Geolocation is not supported by this browser.";
        }
      }

      function showPosition(position) {
        document.getElementById("latitude").value = position.coords.latitude;
        document.getElementById("longitude").value = position.coords.longitude;
      }
    </script>
  </body>
</html>
