<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>DashBoard</title>
    <link rel="stylesheet" href="../css/bootstrap.min.css" />
    <link rel="stylesheet" href="../css/styles.css" />
  </head>
  <body>
    <div class="container">
      <div class="wrapper-container col-12">
        <h1 class="text-center">Analytics Section</h1>
        <div class="row d-flex align-items-center justify-content-between">
          <span class="text-design"
            >Active Donars:
            <p id="donars"></p
          ></span>
          <span class="text-design"
            >Active Receiver:
            <p id="receiver"></p
          ></span>
        </div>
        <div class="row d-flex justify-content-between">
          <span class="text-design"
            >Available food for people:
            <p id="available"></p
          ></span>
          <span class="text-design"
            >Food Needed by People:
            <p id="needed"></p
          ></span>
        </div>
      </div>
    </div>
  </body>
</html>
