<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./css/bootstrap.min.css" />
    <link rel="stylesheet" href="./css/styles.css" />
    <title>Register</title>
  </head>
  <body>
    <div class="container d-flex align-items-center justify-content-center">
      <div class="wrapper-container col-6">
        <p class="text-center fs-4"><b>Sign in</b></p>
        <form 
          action="/login"
          id="form"
          name="f"
          method="POST"
          novalidate
        >
          <div class="mb-3">
            <label for="suggestionText" class="form-label">Username</label>
            <input
              class="form-control"
              id="suggestionText"
              name="username"
              oninput="removeInvalidSuggestion()"
              placeholder="naran12"
              required
            ></input>
            <div class="feedback-msg-suggestion" id="msg-suggestion">
              <small>Enter a valid username</small>
            </div>
          </div>

          <div class="mb-3">
            <label for="password" class="form-label">Password</label>
            <input
              type="password"
              class="form-control"
              id="password"
              name="password"
              oninput="removeInvalidPassword()"
              required
            />
            <div class="feedback-msg-p" id="msg-p">
              <small>Enter a valid Password</small>
            </div>
          </div>
          
          <div class="grp-field d-flex margin-bottom justify-content-between">
            <button type="submit" class="btn btn-primary">Sign in</button><br />
            <button
            type="reset"
            onclick="resetAll()"
            class="btn btn-outline-primary clear-btn"
          >
            Clear Form
          </button>
          </div>
        </form>
        <span class="text-center margin-top-for-a"><p>Don't have an account? <br> <a href="/register">Register</a></p></span>
        <a href="/">Go Back to Dashboard</a>
      </div>
    </div>
    <script src="./js/loginFormValidation.js"></script>
  </body>
</html>
